# rscmgr rc file

on property:sys.readahead.resource=1
    readahead /system/app/HoneyBoard/HoneyBoard.apk --fully
    readahead /data/dalvik-cache/arm64/system@app@HoneyBoard@HoneyBoard.apk@classes.dex --fully
    readahead /data/dalvik-cache/arm64/system@app@HoneyBoard@HoneyBoard.apk@classes.vdex --fully
    readahead /system/app/HoneyBoard/oat/arm64/HoneyBoard.odex --fully
    readahead /system/app/HoneyBoard/oat/arm64/HoneyBoard.vdex --fully
    readahead /vendor/lib/hw/camera.qcom.so --fully
    readahead /vendor/lib/hw/com.samsung.chi.override.so --fully
    readahead /vendor/lib/hw/camera.unihal.default.so --fully
    readahead /vendor/lib/libcamxfdalgov8.so --fully
    readahead /vendor/lib/camera/components/com.qti.stats.haf.so --fully
    readahead /vendor/lib/camera/components/com.qti.stats.af.so --fully
    readahead /vendor/lib/camera/components/com.qti.stats.pdlib.so --fully
    readahead /vendor/lib/camera/components/com.qti.stats.awb.so --fully
    readahead /vendor/lib/camera/components/com.wrapper.stats.aec.so --fully
    readahead /vendor/lib/camera.device@3.2-impl.so --fully
    readahead /vendor/lib/hw/android.hardware.graphics.mapper@4.0-impl-qti-display.so --fully
    readahead /system/lib/libgui.so --fully
    readahead /system/lib/libc++.so --fully
    readahead /system/lib/libbase.so --fully
    readahead /system/lib/libhidlbase.so --fully
    readahead /system/lib/libedmnativehelper.so --fully
    readahead /system/lib/android.hardware.camera.device@3.2.so --fully
    readahead /system/lib/android.hardware.graphics.mapper@4.0.so --fully
    readahead /system/lib64/libimagecodec.quram.so --fully
    readahead /system/priv-app/SecMyFiles2020/SecMyFiles2020.apk --fully
    readahead /system/system_ext/priv-app/SystemUI/SystemUI.apk --fully
    readahead /system/priv-app/SamsungGallery2018/SamsungGallery2018.apk --fully
    readahead /data/dalvik-cache/arm64/system@priv-app@SamsungGallery2018@SamsungGallery2018.apk@classes.dex --fully
    readahead /data/dalvik-cache/arm64/system@priv-app@SamsungCamera@SamsungCamera.apk@classes.dex --fully
    readahead /data/dalvik-cache/arm64/system@app@Notes40@Notes40.apk@classes.dex --fully
    readahead /data/dalvik-cache/arm64/system@app@Notes40@Notes40.apk@classes.vdex --fully
    readahead /data/dalvik-cache/arm64/system@priv-app@SamsungDialer@SamsungDialer.apk@classes.dex --fully
    readahead /data/dalvik-cache/arm64/system@priv-app@SamsungDialer@SamsungDialer.apk@classes.vdex --fully
    setprop sys.readahead.resource 0