# rscmgr rc file

on property:sys.readahead.resource=1
    readahead /vendor/lib64/mt6835/lib3a.af.assist.utils.so --fully
    readahead /vendor/lib64/mt6835/libcameracustom.lens.so --fully
    readahead /vendor/lib64/mt6835/libmtk_drvb.so --fully
    readahead /vendor/lib64/mt6835/libmtkcam_modulehelper.so --fully
    readahead /vendor/lib64/mt6835/libcam.chdr.so --fully
    readahead /vendor/lib64/libseccam_util.so --fully
    readahead /vendor/lib64/libgrallocusage.so --fully
    readahead /vendor/lib64/mtkcam/mt6835/libmtkcam_streaminfo_plugin-p1stt.so --fully
    readahead /vendor/lib64/mt6835/libmtkcam_3rdparty.so --fully
    readahead /vendor/lib64/libCamera_hi5022qmipiraw_3rd_Duo_Video.so --fully
    readahead /vendor/lib64/libCamera_hi5022qmipiraw_Flash_Capture.so --fully
    readahead /vendor/lib64/libCamera_hi5022qmipiraw_Capture_Preview_Zoom_2x.so --fully
    readahead /vendor/lib64/libCamera_s5kjn1mipiraw_3rd_Duo_Video.so --fully
    readahead /vendor/lib64/libCamera_s5kjn1mipiraw_Flash_Capture.so --fully
    readahead /vendor/lib64/libCamera_s5kjn1mipiraw_Capture_Preview_Zoom_2x.so --fully
    readahead /vendor/lib64/mt6835/libmtkcam_modulefactory_utils.so --fully
    readahead /vendor/lib64/mt6835/libmtkcam_modulefactory_drv.so --fully
    readahead /vendor/lib64/mt6835/libcameracustom.flashlight.so --fully
    readahead /vendor/lib64/mt6835/libcamera.customaf.so --fully
    readahead /vendor/lib64/mt6835/libcamera.customawb.so --fully
    readahead /vendor/lib64/mt6835/libcameracustom.eis.so --fully
    readahead /vendor/lib64/mt6835/libmtkcam_modulefactory_aaa.so --fully
    readahead /vendor/lib64/mt6835/libmtkcam.atmseventmgr.so --fully
    readahead /vendor/lib64/unihal_cutils.so --fully
    readahead /vendor/lib64/libcam.hal3a.v3.customframework.so --fully
    readahead /vendor/lib64/mt6835/lib3a.gma.so --fully
    readahead /vendor/lib64/mt6835/lib3a.dce.so --fully
    readahead /vendor/lib64/mt6835/libmtkcam_pipelinemodel_adapter.so --fully
    readahead /vendor/lib64/mt6835/libcam.hal3a.v3.dng.so --fully
    readahead /vendor/lib64/libsensorndkbridge.so --fully
    readahead /vendor/lib64/mt6835/libmtkcam_pipelinepolicy_factory.so --fully
    readahead /vendor/lib64/mt6835/libmtkcam_devicesessionpolicy.so --fully
    readahead /vendor/lib64/mt6835/libfeature.face.so --fully
    readahead /vendor/lib64/mt6835/libcamalgo.lmv.so --fully
    readahead /vendor/lib64/mt6835/libmtkcam_grallocutils.so --fully
    readahead /vendor/lib64/mt6835/libmtkcam_featureutils.so --fully
    readahead /vendor/lib64/mt6835/lib3a.flicker.so --fully
    readahead /vendor/lib64/mt6835/libmtkcam_imem.so --fully
    readahead /vendor/lib64/mt6835/libmtkcam_device3_legacy.so --fully
    readahead /vendor/lib64/libcam.seninfn3d.so --fully
    readahead /vendor/lib64/libmtkperf_client_vendor.so --fully
    readahead /vendor/lib64/mt6835/libcam.hal3a.v3.resultpool.so --fully
    readahead /vendor/bin/hw/vendor.samsung.hardware.camera.provider@4.0-service_64 --fully
    readahead /vendor/lib64/mt6835/libcameracustom.camera.isp.so --fully
    readahead /vendor/lib64/mt6835/libcam.utils.sensorprovider.so --fully
    readahead /vendor/lib64/mt6835/libmtkcam_mapping_mgr.so --fully
    readahead /vendor/lib64/mt6835/libmtkcam_imgbuf.so --fully
    readahead /vendor/lib64/mt6835/libcam.hal3a.v3.nvram.50.so --fully
    readahead /vendor/lib64/mt6835/libmtkcam_prerelease.so --fully
    readahead /vendor/lib64/unihal_uniplugin@1.0.so --fully
    readahead /vendor/lib64/unihal_entry.so --fully
    readahead /vendor/lib64/libcamalgo.utility.so --fully
    readahead /vendor/lib64/mt6835/libfeatureiodrv_mem.so --fully
    readahead /vendor/lib64/mt6835/libcam.vhdr.so --fully
    readahead /vendor/lib64/mt6835/libmtkcam_sysutils.so --fully
    readahead /vendor/lib64/mt6835/libcam.hal3a.v3.so --fully
    readahead /vendor/lib64/mt6835/libcamdrv_tuning_mgr.so --fully
    readahead /vendor/lib64/mt6835/libcam.hal3a.v3.lscMgr.so --fully
    readahead /vendor/lib64/mt6835/libcamdrv_isp.so --fully
    readahead /vendor/lib64/mt6835/libmtkcam_stdutils.so --fully
    readahead /vendor/lib64/mt6835/libmtkcam_tuning_utils.so --fully
    readahead /vendor/lib64/mt6835/lib3a.ae.stat.so --fully
    readahead /vendor/lib64/mt6835/libmtkcam_pipelinemodel_zsl.so --fully
    readahead /vendor/lib64/android.frameworks.sensorservice@1.0.so --fully
    readahead /vendor/lib64/mt6835/libmtkcam_pipelinemodel.so --fully
    readahead /vendor/lib64/mt6835/libmtkcam_device3_utils.so --fully
    readahead /vendor/lib64/mt6835/libmtkcam_pipelinepolicy.so --fully
    readahead /vendor/lib64/hw/mt6835/camera.mt6835.so --fully
    readahead /vendor/lib64/mt6835/libmtkcam_scenariorecorder.so --fully
    readahead /vendor/lib64/mt6835/libmtkcam_device3_hal.so --fully
    readahead /vendor/lib64/mt6835/libcam.afhal.so --fully
    readahead /vendor/lib64/mt6835/libmtkcam.featurepipe.vsdof_util.so --fully
    readahead /vendor/lib64/libbwc.so --fully
    readahead /vendor/lib64/mt6835/lib3a.lce.so --fully
    readahead /vendor/lib64/mt6835/libcameracustom.so --fully
    readahead /vendor/lib64/mt6835/libcam.hal3a.v3.awb.so --fully
    readahead /vendor/lib64/mt6835/lib3a.af.core.so --fully
    readahead /vendor/lib64/camera.device@3.3-impl.so --fully
    readahead /vendor/lib64/mt6835/libmtkcam_debugutils.so --fully
    readahead /vendor/lib64/mt6835/libcam.hal3a.v3.lsctbl.50.so --fully
    readahead /vendor/lib64/unihal_main.so --fully
    readahead /vendor/lib64/mt6835/libcam.halisp.so --fully
    readahead /vendor/lib64/mt6835/libmtkcam_metadata.so --fully
    readahead /vendor/lib64/mt6835/libcam.halisp.common.so --fully
    readahead /vendor/lib64/libsecnativefeature.so --fully
    readahead /vendor/lib64/mt6835/libimageio_plat_drv.so --fully
    readahead /vendor/lib64/mt6835/libmtkcam_streamutils.so --fully
    readahead /vendor/lib64/mt6835/libmtkcam.featurepipe.streaming.so --fully
    readahead /vendor/lib64/mt6835/libmtkcam_fdvt.so --fully
    readahead /vendor/lib64/unihal_android.so --fully
    readahead /vendor/lib64/mt6835/libcam.hal3a.v3.platform.so --fully
    readahead /vendor/lib64/mt6835/libmtkcam_3rdparty.customer.so --fully
    readahead /vendor/lib64/mt6835/libmtkcam_device3_app.so --fully
    readahead /vendor/lib64/mt6835/libmtkcam_3rdparty.mtk.so --fully
    readahead /vendor/lib64/mt6835/lib3a.ccuif.so --fully
    readahead /vendor/lib64/mt6835/libcam.iopipe.so --fully
    readahead /vendor/lib64/mt6835/libmtkcam_ulog.so --fully
    readahead /vendor/lib64/camera.device@3.4-impl.so --fully
    readahead /vendor/lib64/mt6835/libmtkcam_pipeline.so --fully
    readahead /vendor/lib64/mt6835/libmtkcam_featurepolicy.so --fully
    readahead /vendor/lib64/mt6835/libcam.feature_utils.so --fully
    readahead /vendor/lib64/mt6835/libcam.isptuning.so --fully
    readahead /vendor/lib64/android.hardware.camera.device@3.2.so --fully
    readahead /vendor/lib64/mt6835/libmtkcam_3rdparty.core.so --fully
    readahead /vendor/lib64/mt6835/libcam.hal3a.v3.ae.so --fully
    readahead /system/lib64/android.hardware.power-V6-ndk.so --fully
    readahead /system_ext/lib64/libsf_cpupolicy.so --fully
    readahead /system/lib64/audiopolicy-aidl-cpp.so --fully
    readahead /system/lib64/android.hardware.graphics.composer3-V4-ndk.so --fully
    readahead /system/bin/cameraserver --fully
    readahead /system/lib64/libpermission.so --fully
    readahead /vendor/lib64/vendor.mediatek.hardware.mtkpower@1.0.so --fully
    readahead /apex/com.android.vndk.v33/lib64/libhidlbase.so --fully

on property:sys.readahead.resource=2
    readahead /system/app/HoneyBoard/HoneyBoard.apk --fully
    readahead /system/app/HoneyBoard/oat/arm64/HoneyBoard.odex --fully
    readahead /system/app/HoneyBoard/oat/arm64/HoneyBoard.vdex --fully
    setprop sys.readahead.resource 0
