# rscmgr rc file

on property:sys.readahead.resource=1
    readahead /system/app/HoneyBoard/HoneyBoard.apk --fully
    readahead /system/app/HoneyBoard/oat/arm64/HoneyBoard.odex --fully
    readahead /system/app/HoneyBoard/oat/arm64/HoneyBoard.vdex --fully
    readahead /data/dalvik-cache/arm64/system@app@HoneyBoard@HoneyBoard.apk@classes.dex --fully
    readahead /data/dalvik-cache/arm64/system@app@HoneyBoard@HoneyBoard.apk@classes.vdex --fully
    readahead /vendor/lib64/libmtkcam_hwnode.so --fully
    readahead /vendor/lib64/libmtkcam_pipelinepolicy.so --fully
    readahead /vendor/lib64/libmtkcam_3rdparty.mtk.so --fully
    readahead /vendor/lib64/libmtkcam_pipeline.so --fully
    readahead /vendor/lib64/hw/camera.unihal.default.so --fully
    readahead /vendor/lib64/libmfllcore.so --fully
    readahead /vendor/lib64/libmtkcam_device3_utils.so --fully
    readahead /vendor/lib64/libmtkcam_device3_hal.so --fully
    readahead /vendor/lib64/libcam.iopipe.so --fully
    readahead /system/fonts/Roboto-Regular.ttf --fully
    readahead /vendor/lib64/libmtkcam_ulog.so --fully
    readahead /vendor/lib64/libmtkcam_metadata.so --fully
    readahead /vendor/lib64/libmtkcam_3rdparty.core.so --fully
    readahead /vendor/lib64/vendor.samsung.hardware.camera.provider@4.0-legacy.so --fully
    readahead /vendor/lib64/vendor.samsung.hardware.camera.device@5.0.so --fully
    readahead /vendor/lib64/libmtkcam_streamutils.so --fully
    readahead /vendor/lib64/libmtkcam_hwutils.so --fully
    readahead /vendor/lib64/hw/camera.mt6768.so --fully
    readahead /vendor/lib64/camera.device@3.2-impl.so --fully
    readahead /vendor/lib64/libmtkcam_sysutils.so --fully
    readahead /vendor/lib64/libmtkcam_stdutils.so --fully
    readahead /vendor/lib64/libmtkcam_pipelinemodel_zsl.so --fully
    readahead /vendor/lib64/libmtkcam_pipelinemodel_session.so --fully
    readahead /vendor/lib64/libmtkcam_metastore.so --fully
    readahead /vendor/lib64/libmtkcam_featurepolicy.so --fully
    readahead /vendor/lib64/libmtkcam_device3_app.so --fully
    readahead /vendor/lib64/libmtkcam_3rdparty.customer.so --fully
    readahead /vendor/lib64/libcam.feature_utils.so --fully
    readahead /vendor/lib64/libsensorndkbridge.so --fully
    readahead /vendor/lib64/libmtkcam_pipelinemodel_capture.so --fully
    readahead /vendor/lib64/libmtkcam_pipelinemodel.so --fully
    readahead /vendor/lib64/libmtkcam_grallocutils.so --fully
    readahead /vendor/lib64/libmtkcam_device3_legacy.so --fully
    readahead /vendor/lib64/libseccam_util.so --fully
    readahead /vendor/lib64/libmtkcam_pipelinepolicy_factory.so --fully
    readahead /vendor/lib64/libmtkcam_pipelinemodel_adapter.so --fully
    readahead /vendor/lib64/libmtkcam_modulehelper.so --fully
    readahead /vendor/lib64/libmtkcam_modulefactory_utils.so --fully
    readahead /vendor/lib64/libmtkcam_modulefactory_drv.so --fully
    readahead /vendor/lib64/libmtkcam_modulefactory_aaa.so --fully
    readahead /vendor/lib64/libmtkcam_featureutils.so --fully
    readahead /vendor/lib64/libmtkcam_devicesessionpolicy.so --fully
    readahead /vendor/lib64/libmtkcam_debugutils.so --fully
    readahead /vendor/lib64/libfeatureiodrv_mem.so --fully
    readahead /vendor/lib64/libcam.vhdr.so --fully
    readahead /system/lib64/libfmq.so --fully
    readahead /system/lib64/libcamera_metadata.so --fully
    readahead /vendor/lib64/libcam.hal3a.v3.so --fully
    readahead /vendor/lib64/libmtkcam.logicalmodule.so --fully
    readahead /vendor/lib64/libcam.halsensor.so --fully
    readahead /vendor/lib64/libmtkcam_imgbuf.so --fully
    readahead /vendor/lib64/libfeature.stereo.provider.so --fully
    readahead /vendor/lib64/libmtkcam.featurepipe.streaming.so --fully
    readahead /vendor/lib64/libmtkcam_pipelinemodel_utils.so --fully
    readahead /vendor/lib64/libmtkcam.featurepipe.capture.so --fully
    readahead /vendor/lib64/libcamalgo.lmv.so --fully
    readahead /vendor/lib64/libfeature_lmv.so --fully
    readahead /vendor/lib64/libfeature.face.so --fully
    readahead /vendor/lib64/libcamalgo.fdft.so --fully
    readahead /vendor/lib64/s5kgw3_mipi_raw_tuning.so --fully
    readahead /vendor/lib64/libcameracustom.so --fully
    readahead /vendor/lib64/lib3a.ae.core.so --fully
    readahead /vendor/lib64/lib3a.ae.so --fully
    readahead /vendor/lib64/lib3a.af.core.so --fully
    readahead /vendor/lib64/lib3a.af.so --fully
    readahead /vendor/lib64/lib3a.ccudrv.so --fully
    readahead /vendor/lib64/lib3a.flash.so --fully
    readahead /vendor/lib64/lib3a.log.so --fully
    readahead /vendor/lib64/libbwc.so --fully
    readahead /vendor/lib64/libcam.hal3a.v3.lsctbl.so --fully
    readahead /vendor/lib64/libcam.hal3a.v3.nvram.so --fully
    readahead /vendor/lib64/libcam.halisp.so --fully
    readahead /vendor/lib64/libcam.pdtblgen.so --fully
    readahead /vendor/lib64/libcam.utils.sensorprovider.so --fully
    readahead /vendor/lib64/libcamalgo.lsc.so --fully
    readahead /vendor/lib64/libcamalgo.utility.so --fully
    readahead /vendor/lib64/libcamdrv_isp.so --fully
    readahead /vendor/lib64/libcamdrv_tuning_mgr.so --fully
    readahead /vendor/lib64/libcamdrv_twin.so --fully
    readahead /vendor/lib64/libcameracustom.eis.so --fully
    readahead /vendor/lib64/libimageio_plat_drv.so --fully
    readahead /vendor/lib64/libimageio_plat_pipe.so --fully
    readahead /vendor/lib64/liblpcnr.so --fully
    readahead /vendor/lib64/libmtk_drvb.so --fully
    readahead /vendor/lib64/libmtkcam_3rdparty.so --fully
    readahead /vendor/lib64/libmtkcam_pipeline_fbm.so --fully
    readahead /vendor/lib64/libmtkcam_prerelease.so --fully
    readahead /vendor/lib64/libmtkcam_tuning_utils.so --fully
    readahead /vendor/lib64/mtkcam/libmtkcam_streaminfo_plugin-p1stt.so --fully
    readahead /vendor/lib64/camera.device@1.0-impl.so  --fully
    readahead /vendor/lib64/camera.device@3.3-impl.so  --fully
    readahead /vendor/lib64/camera.device@3.4-impl.so  --fully
    readahead /vendor/lib64/camera.device@3.5-impl.so  --fully
    readahead /vendor/lib64/lib3a.awb.core.so  --fully
    readahead /vendor/lib64/lib3a.awb.so  --fully
    readahead /vendor/lib64/libaedv.so  --fully
    readahead /vendor/lib64/libcam.hal3a.log.so  --fully
    readahead /vendor/lib64/libcam.halsensor.hwintegration.so  --fully
    readahead /vendor/lib64/libcam.lcs.so  --fully
    readahead /vendor/lib64/libcamdrv_imem.so  --fully
    readahead /vendor/lib64/libhidltransport.so  --fully
    readahead /vendor/lib64/libmtkcam_diputils.so  --fully
    readahead /vendor/lib64/vendor.mediatek.hardware.camera.isphal@1.0.so  --fully
    readahead /vendor/lib64/vendor.samsung.hardware.camera.provider@4.0.so  --fully
    readahead /vendor/lib64/libdpframework.so  --fully
    readahead /vendor/lib64/libmtkcam.featurepipe.vsdof_util.so  --fully
    readahead /vendor/bin/hw/vendor.samsung.hardware.camera.provider@4.0-service_64  --fully
    readahead /vendor/lib64/gc5035_mipi_raw_IdxMgr.so  --fully
    readahead /vendor/lib64/gc5035b_mipi_raw_IdxMgr.so  --fully
    readahead /vendor/lib64/hi2021q_mipi_raw_IdxMgr.so  --fully
    readahead /vendor/lib64/hw/vendor.mediatek.hardware.camera.isphal@1.0-impl.so  --fully
    readahead /vendor/lib64/lib_bsscore.so  --fully
    readahead /vendor/lib64/lib3a.gma.so  --fully
    readahead /vendor/lib64/lib3a.n3d3a.so  --fully
    readahead /vendor/lib64/libabfadp.so  --fully
    readahead /vendor/lib64/libcamalgo.3dnr.so  --fully
    readahead /vendor/lib64/libcamalgo.abf.so  --fully
    readahead /vendor/lib64/libcamalgo.dngop.so  --fully
    readahead /vendor/lib64/libcamalgo.eis.so  --fully
    readahead /vendor/lib64/libcamalgo.fsc.so  --fully
    readahead /vendor/lib64/libcamalgo.gyro.so  --fully
    readahead /vendor/lib64/libcamalgo.mfnr.so  --fully
    readahead /vendor/lib64/libcamalgo.nr.so  --fully
    readahead /vendor/lib64/libcamalgo.warp.so  --fully
    readahead /vendor/lib64/libcustom_nvram.so  --fully
    readahead /vendor/lib64/libeffecthal.base.so  --fully
    readahead /vendor/lib64/libfeature_3dnr.so  --fully
    readahead /vendor/lib64/libfeature_eis.so  --fully
    readahead /vendor/lib64/libfeature_fsc.so  --fully
    readahead /vendor/lib64/libfeature_rss.so  --fully
    readahead /vendor/lib64/libgz_uree.so  --fully
    readahead /vendor/lib64/libhwbinder.so  --fully
    readahead /vendor/lib64/libimageio.so  --fully
    readahead /vendor/lib64/libjpeg-alpha_vendor.so  --fully
    readahead /vendor/lib64/libjpeg-alpha-oal_vendor.so  --fully
    readahead /vendor/lib64/libJpgEncPipe.so  --fully
    readahead /vendor/lib64/libmsnr.so  --fully
    readahead /vendor/lib64/libmtkcam_calibration_convertor.so  --fully
    readahead /vendor/lib64/libmtkcam_calibration_provider.so  --fully
    readahead /vendor/lib64/libmtkcam_exif.so  --fully
    readahead /vendor/lib64/libmtkcam_fdvt.so  --fully
    readahead /vendor/lib64/libmtkcam_imem.so  --fully
    readahead /vendor/lib64/libmtkcam_pipelinemodel_isp.so  --fully
    readahead /vendor/lib64/libmtkcam_pipelinepolicy-security.so  --fully
    readahead /vendor/lib64/libmtkcam_pipelinepolicy-smvr.so  --fully
    readahead /vendor/lib64/libmtkcam_rsc.so  --fully
    readahead /vendor/lib64/libmtkcam_synchelper.so  --fully
    readahead /vendor/lib64/libmtkcam.eventcallback.so  --fully
    readahead /vendor/lib64/libmtkisp_metadata.so  --fully
    readahead /vendor/lib64/libnvram_sec.so  --fully
    readahead /vendor/lib64/libnvram.so  --fully
    readahead /vendor/lib64/libSonyIMX230PdafLibrary.so  --fully
    readahead /vendor/lib64/libSonyIMX230PdafLibraryWrapper.so  --fully
    readahead /vendor/lib64/libSonyIMX338PdafLibrary.so  --fully
    readahead /vendor/lib64/libSonyIMX338PdafLibraryWrapper.so  --fully
    readahead /vendor/lib64/libSonyIMX386PdafLibrary.so  --fully
    readahead /vendor/lib64/libSonyIMX386PdafLibraryWrapper.so  --fully
    readahead /vendor/lib64/libSonyIMX519PdafLibrary.so  --fully
    readahead /vendor/lib64/libSonyIMX519PdafLibraryWrapper.so  --fully
    readahead /vendor/lib64/libstereoinfoaccessor_vsdof.so  --fully
    readahead /vendor/lib64/s5kgw3_mipi_raw_IdxMgr.so  --fully
    readahead /vendor/lib64/sr846d_mipi_raw_IdxMgr.so  --fully
    readahead /vendor/lib64/vendor.mediatek.hardware.power@1.1.so  --fully
    readahead /vendor/lib64/vendor.mediatek.hardware.power@2.0.so  --fully
    readahead /vendor/lib64/lib3a.ae.core.so  --fully
    readahead /vendor/lib64/lib3a.ae.so  --fully
    readahead /vendor/lib64/lib3a.af.core.so  --fully
    readahead /vendor/lib64/lib3a.af.so  --fully
    readahead /vendor/lib64/lib3a.ccudrv.so  --fully
    readahead /vendor/lib64/lib3a.flash.so  --fully
    readahead /vendor/lib64/lib3a.log.so  --fully
    readahead /vendor/lib64/libbwc.so  --fully
    readahead /vendor/lib64/libcam.hal3a.v3.lsctbl.so  --fully
    readahead /vendor/lib64/libcam.hal3a.v3.nvram.so  --fully
    readahead /vendor/lib64/libcam.halisp.so  --fully
    readahead /vendor/lib64/libcam.pdtblgen.so  --fully
    readahead /vendor/lib64/libcam.utils.sensorprovider.so  --fully
    readahead /vendor/lib64/libcamalgo.lsc.so  --fully
    readahead /vendor/lib64/libcamalgo.utility.so  --fully
    readahead /vendor/lib64/libcamdrv_isp.so  --fully
    readahead /vendor/lib64/libcamdrv_tuning_mgr.so  --fully
    readahead /vendor/lib64/libcamdrv_twin.so  --fully
    readahead /vendor/lib64/libcameracustom.eis.so  --fully
    readahead /vendor/lib64/libimageio_plat_drv.so  --fully
    readahead /vendor/lib64/libimageio_plat_pipe.so  --fully
    readahead /vendor/lib64/liblpcnr.so  --fully
    readahead /vendor/lib64/libmtk_drvb.so  --fully
    readahead /vendor/lib64/libmtkcam_3rdparty.so  --fully
    readahead /vendor/lib64/libmtkcam_pipeline_fbm.so  --fully
    readahead /vendor/lib64/libmtkcam_prerelease.so  --fully
    readahead /vendor/lib64/libmtkcam_tuning_utils.so  --fully
    readahead /vendor/lib64/mtkcam/libmtkcam_streaminfo_plugin-p1stt.so  --fully
    readahead /vendor/lib64/libhyper.so --fully
    readahead /vendor/lib64/libmtkperf_client_vendor.so --fully
    readahead /vendor/lib64/vendor.mediatek.hardware.mtkpower@1.0.so --fully
    readahead /vendor/lib64/vendor.mediatek.hardware.mtkpower@1.2.so --fully
    readahead /vendor/lib64/libpowerhal.so --fully
    readahead /apex/com.android.art/javalib/arm/boot.oat --fully
    readahead /apex/com.android.art/lib/libart.so --fully
    readahead /apex/com.android.i18n/lib/libicuuc.so --fully
    readahead /system/framework/arm/boot.oat --fully
    readahead /bin/linker --fully
    readahead /system/lib/libc++.so --fully
    readahead /system/lib/libandroidfw.so --fully
    readahead /system/framework/arm/boot-core-icu4j.oat --fully
    readahead /system/lib/libprocessgroup.so --fully
    readahead /system/lib/libbase.so --fully
    readahead /system/lib/libminikin.so --fully
    readahead /system/lib/libselinux.so --fully
    readahead /system/lib/libandroid.so --fully
    readahead /system/bin/app_process32 --fully
    readahead /system/lib64/libharfbuzz_ng.so --fully
    readahead /system/priv-app/SamsungGallery2018/SamsungGallery2018.apk --fully
    setprop sys.readahead.resource 0
